
<h1>Create an account and signup for the Jungle!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <ul>
  <li class="line"><%= f.text_field :name %> <-- Enter your name</li>
  <li class="line"><%= f.email_field :email %> <-- Enter your email</li>
  <li class="line"><%= f.password_field :password %> <-- Please choose a password </li>
  <li class="line"><%= f.password_field :password_confirmation %> <-- Please confirm your password </li>
  </ul>

  <div class="signup-button"><%= f.submit "Submit" %></div>

<% end %>